.hero {
	background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #2F303A;
	height: 600px;
}
.hero__header {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.364;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	margin-bottom: 30px;
	color: #FFFFFF;
	text-align: center;
	width: 655px;
}