.image__title {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	margin-bottom: 4px;
	padding-left: 24px;
}

.image__group {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.03em;
	padding-bottom: 20px;
	padding-left: 24px;
	color: #757575;

		&:not(:nth-last-child(-3+n)) {
		margin-bottom: 20px;
	}
}

