.container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;

	.header & {
		display: flex;
		padding-top: 24px;
		padding-bottom: 25px;
		align-items: center;
	}

	.hero & {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-bottom: 200px;
		padding-top:200px;
	}

	.about-us & {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.our-clients & {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.our-team & {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.content & {
		display: flex;
	}

	.footer & {
		display: flex;
		flex-direction: row;
		padding: 60px;
	}

	.main__portfolio & {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	

	
}


